<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/catalog.css">
    <title>PROFIT - Каталог</title>
</head>
<body>
    <header>
        <a href = "/" class = "logo">PROFIT</a>
        <nav>
            <ul>
                <li><a href="/catalog">Каталог</a></li>
                <li><a href="#">Контакты</a></li>
                <li class = "basket"><a href="#">Корзина</a></li>
                <li><button class = "openModal" id="openModal">Регистрация</button></li>
            </ul>
        </nav>
        
    </header>


    <div class = "catalog-items">
        

        <div class = "product-items">
            <div class = "product-item">
                <div class = "interior-product">
                    <img class = "product-img" src = "../static/img/Протеин.png">
                    <div class = "product-item-button">
                        <p class = "product-title">Протеин</p>
                        <div class = "product-stars-box">
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "product-item">
                <div class = "interior-product">
                    <img class = "product-img" src = "../static/img/Креатин.png">
                    <div class = "product-item-button">
                        <p class = "product-title">Креатин</p>
                        <div class = "product-stars-box">
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "product-item">
                <div class = "interior-product">
                    <img class = "product-img" src = "../static/img/ЛКарнитин.png">
                    <div class = "product-item-button">
                        <p class = "product-title">L-Карнитин</p>
                        <div class = "product-stars-box">
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "product-item">
                <div class = "interior-product">
                    <img class = "product-img" src = "../static/img/Гейнер.png">
                    <div class = "product-item-button">
                        <p class = "product-title">Гейнер</p>
                        <div class = "product-stars-box">
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "product-item">
                <div class = "interior-product">
                    <img class = "product-img" src = "../static/img/BCAA.png">
                    <div class = "product-item-button">
                        <p class = "product-title">BCAA</p>
                        <div class = "product-stars-box">
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "product-item">
                <div class = "interior-product">
                    <img class = "product-img" src = "../static/img/Глютамин.png">
                    <div class = "product-item-button">
                        <p class = "product-title">Глютамин</p>
                        <div class = "product-stars-box">
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "product-item">
                <div class = "interior-product">
                    <img class = "product-img" src = "../static/img/Энергетик.png">
                    <div class = "product-item-button">
                        <p class = "product-title">Энергетик</p>
                        <div class = "product-stars-box">
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                        </div>
                    </div>
                </div>
            </div>

            <div class = "product-item">
                <div class = "interior-product">
                    <img class = "product-img" src = "../static/img/Предтреник.png">
                    <div class = "product-item-button">
                        <p class = "product-title">Предтреник</p>
                        <div class = "product-stars-box">
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                            <img class = "star" src = "../static/img/icons/star.svg" alt = "star"/>
                        </div>
                    </div>
                </div>
            </div>

    
        </div>
    </div>




    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="closeModal" class="close">&times;</span>
            <h2>Регистрация</h2>
            <form>
                <label for="email">Электронная почта:</label>
                <input type="email" id="email" name="email" required>
                <label for="phone">Номер телефона:</label>
                <input type="text" id="phone" name="phone" required>
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>
                <button type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
    
    

    <footer>
        <div class = "fast-links">
            <a href = "#"><p>FAQ</p></a>
            <a href = "/catalog"><p>Каталог</p></a>
            <a href = "/"><p>Главная</p></a>
            <a href = "#"><p>Личный кабинет</p></a>
            <a href = "#"><p>Контакты</p></a>
            <a href = "#"><p>О компании</p></a>
        </div>

        <div class = "footer-logo">
            <p>PROFIT</p>
        </div>
        
    </footer>


    <script src="../static/js/index.js"></script>
    
</body>
</html>